body {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    background: url("../src/img/bg.jpg") center center fixed no-repeat;
    background-size: cover;
}


.pagination {
    justify-content: center;

}

.pagination .page-item {
    margin: 10px
}


input {
    padding: 10px 5px;
    margin: 10px;
    width: 200px;
    border-radius: 10px;

}

.card {
    margin: 10px;
    background: rgba(0, 0, 0, 0.38);
    max-width: 300px;
    width: 100%;
    align-items: center;
    color: #ffffff;
}

.button__links {
    background: white;
    padding: 10px;
    margin: 10px;
    width: 200px;
    border-radius: 10px;


}

.button__links:hover {
    font-weight: bold;

    transition: 2s;
    transition-duration: 500ms;
}

.loader-ring {
    width: 128px;
    height: 128px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.loader-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 3px;
    border: 3px solid black;
    border-radius: 50%;
    animation: loader-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: gray transparent transparent transparent;
}

@keyframes loader-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hero__lovely__card {
    background: rgba(0, 0, 0, 0.38);
    color: white;
    list-style-type: none;

}

.hero__lovely__card li {
    list-style-type: none;

}
