body {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  background: url("../src/img/bg.jpg") center center fixed no-repeat;
  background-size: cover;
}
i {
  font-size: 40px;
  color: #9bd2de;
}
i:hover {
  font-size: 50px;
  transition: 0.5s;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container__box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  border: 3px solid black;
  padding: 15px;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.36);
  max-width: 500px;
  width: 100%;
}

.button__links {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  color: white;
  background-image: linear-gradient(
    to right,
    #9bd2de 0%,
    #9cbed1 51%,
    #a2cdcd 100%
  );
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100px;
}
